.title-slide h1, .title-slide h2 {
  color: #1c5253;
  background: #DEE4E7;
  padding: 30px;
}
.title-slide h1 {
  border-radius: 15px 15px 0px 0px;
  margin-bottom: 0;
}
.title-slide h2 {
  margin-top: 0;
  border-radius:  0px 0px 15px 15px;
}
.title-slide h3:first-of-type {
  padding-top: 75px;
  font-size: 2rem;
}
.title-slide h3:nth-of-type(2) {
  font-size: 1.4rem;
}
.title-slide h3:nth-of-type(3) {
  font-size: 1.3rem;
}
.pg-num {
  background-color: whitesmoke;
  padding: 5px;
}
.current-pg-num {
  border-right: 1px solid #1c5253;
  padding-right: 5px;
}
.total-pg-num {
  padding-left: 0px;
  font-weight: 600;
}
.large li {
  font-size: 1.3em;
}
.emph {
  font-size: 125%;
  font-weight: bold;
  color: #136f63;
}
.small {
  font-size: 60%;
}
.left-30 {
  width: 28%;
  float: left;
  padding-top: 1em;
}
.right-70 {
  width: 68%;
  float: right;
  padding-top: 1em;
}
.right-70 p {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.right-70 p img {
  outline: 2px solid #136f63;
  border: 5px solid white;
}
.right-70 p img:nth-child(-n+3) {
  align-self: end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.right-70 p img:nth-child(n+4) {
  align-self: start;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}